.djDetail .header {
  background-size: 100%;
  width: 100%;
  height: 20rem;
  position: relative;
}
.djDetail .header .pic {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.djDetail .header .info {
  position: absolute;
  bottom: 3rem;
  left: 1.2rem;
  right: 1.2rem;
}
.djDetail .header .info .rcmdText {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}
.djDetail .header .info .subCount {
  color: #fff;
  font-size: 1rem;
  opacity: 0.8;
}
.djDetail .header .info .btn {
  background-color: #E82202;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
  border: 0;
}
.djDetail .mainContent {
  background-color: #fff;
  margin-top: -2rem;
}
.djDetail .mainContent .mcHeader {
  background-color: #fff;
  position: sticky;
  top: 0;
  border-bottom: 0.1rem solid #f4f4f4;
  border-radius: 1rem 1rem 0 0;
  color: #333;
  font-size: 1.2rem;
}
.djDetail .mainContent .mcHeader span {
  flex: 1;
  text-align: center;
  font-size: 1.1rem;
  color: #333;
  font-weight: bold;
  position: relative;
  padding: 1rem;
}
.djDetail .mainContent .mcHeader span .count {
  color: #666;
  font-size: 0.8rem;
  margin-left: 0.2rem;
}
.djDetail .mainContent .mcHeader .active::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 44%;
  height: 0.2rem;
  width: 2rem;
  background-color: #E82202;
}
.djDetail .mainContent .detail-ul {
  padding-bottom: 1rem;
}
.djDetail .mainContent .detail-ul .detail-li {
  padding: 1rem;
}
.djDetail .mainContent .detail-ul .detail-li .index {
  color: #999;
  font-size: 1.2rem;
  width: 2rem;
  margin-right: 1.2rem;
  text-align: center;
}
.djDetail .mainContent .detail-ul .detail-li .name {
  color: #333;
  font-size: 1.1rem;
  width: 20rem;
  margin-bottom: 0.6rem;
}
.djDetail .mainContent .detail-ul .detail-li .info {
  flex: 1;
  color: #999;
  font-size: 0.9rem;
}
.djDetail .mainContent .detail-ul .detail-li .info .icon-play3 {
  width: 1rem;
  height: auto;
  margin-left: 0.6rem;
  margin-right: 0.2rem;
}
.djDetail .mainContent .detail-ul .detail-li .info .icon-time {
  width: 1rem;
  height: auto;
  margin-left: 0.6rem;
  margin-right: 0.2rem;
}
.djDetail .mainContent .detail-ul .detail-li .icon-more {
  width: 2rem;
  height: auto;
}
.djDetail .mainContent .toolHeader {
  background-color: #fff;
  padding: 1rem 0;
  flex: 1;
}
.djDetail .mainContent .toolHeader .songsInfo .avatar {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 0.2rem;
  object-fit: cover;
  margin-right: 1rem;
}
.djDetail .mainContent .toolHeader .songsInfo .name {
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
  margin-right: 1rem;
}
.djDetail .mainContent .toolHeader .songsInfo .artist {
  color: #999;
  font-size: 1rem;
}
.djDetail .mainContent .toolHeader .songsInfo .btn {
  border: 0.1rem solid #E82202;
  background: transparent;
  border-radius: 1rem;
  padding: 0.3rem 0.8rem;
  color: #E82202;
  font-size: 0.8rem;
}
.djDetail .mainContent .toolHeader .tip {
  color: #999;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
