@import '../../style/variable.less';

.square{
    .mySquare{
        .ms-header{
            background: linear-gradient(90deg,#A09044,#735A22);
            margin: 1rem;
            padding: 1.5rem;
            border-radius: 1rem;
            color: #fff;
            font-size: 1.4rem;
            p{
                margin: 0;
                padding: 0;
            }
            .arrow_right{
                width: 1rem;
                height: auto;
                margin-left: 0.5rem;
                margin-top: 0.2rem;
            }
            .tip{
                font-size: 1rem;
                margin-top: 1.2rem;
                opacity: 0.6;
            }
        }
    }
}