.square {
  background-color: #f4f4f4;
  height: 100%;
  overflow-y: scroll;
  padding-top: 8rem;
}
.square .nav {
  background-color: #fff;
  height: 3rem;
  color: #333;
  font-size: 1.2rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 4rem;
  z-index: 998;
}
.square .nav span {
  padding: 1rem 2rem;
}
.square .nav .navActive {
  color: #E82202;
  position: relative;
}
.square .nav .navActive::after {
  position: absolute;
  content: '';
  left: 2rem;
  right: 0;
  bottom: 0.2rem;
  background-color: #E82202;
  height: 0.2rem;
  width: 2.4rem;
}
.square .mySquare .ms-header {
  background: linear-gradient(90deg, #A09044, #735A22);
  margin: 0 1rem 1rem 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 1.4rem;
}
.square .mySquare .ms-header p {
  margin: 0;
  padding: 0;
}
.square .mySquare .ms-header .arrow_right {
  width: 1rem;
  height: auto;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.square .mySquare .ms-header .tip {
  font-size: 1rem;
  margin-top: 1.2rem;
  opacity: 0.6;
}
