@import '../../style/variable.less';

.createSong{
    margin-top: 1rem;
    padding: 0 1rem;
    background-color: @bg-color;
    .create-item{
        .ci-header{
            padding: 1rem 0;
        }
        .arrow_rigth{
            width: 1.2rem;
            height: auto;
            margin-right: 0.5rem;
            transition: transform 0.2s;
        }
        .arrow_active{
            transform: rotate(90deg);
        }
        .listName{
            color: #333;
            font-size: 1.2rem;
            font-weight: bold;
            margin-right: 0.5rem;
        }
        .songsCount{
            color: #666;
            font-size: 1rem;
        }
        .icon_add{
            width: 1.3rem;
            height: auto;
            margin-left: 2rem;
        }
        .icon_more{
            width: 2.2rem;
            height: auto;
            margin-left: 1rem;
        }
        .songsBox-List{
            .pic{
                width: 3.5rem;
                height: 3.5rem;
                object-fit: cover;
                border-radius: 0.5rem;
                margin-right: 1rem;
            }
            .title{
                color: #333;
                font-size: 1.1rem;
                font-weight: bold;
            }
            .count{
                color: #666;
                font-size: 1rem;
                margin-top: 0.5rem;
            }
            .icon_more{
                width: 2rem;
                padding-right: 0.1rem;
            }
        }
    }
    .songsToolModalHeader{
        color: #666;
        font-size: 1.2rem;
        padding-left: 0.5rem;
    }
}

.createSongsModal{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    .cm-inner{
        background-color: @bg-color;
        width: 80%;
        height: auto;
        margin: auto;
        border-radius: 0.5rem;
        padding: 0 1.5rem;
        animation: 0.3s ease;
        &.showAni{
            animation-name: createSongsShowAni;
        }
        &.hideAni{
            animation-name: createSongsHideAni;
        }
        .title{
            color: #333;
            font-size: 1.3rem;
            font-weight: bold;
            padding: 1.5rem 0;
        }
        .contnet{
            margin-bottom: 1rem;
            .input{
                border-bottom: 0.1rem solid #f4f4f4;
                line-height: 3rem;
                padding-left: 0.5rem;
                margin-bottom: 0.5rem;
                input{
                    color: #333;
                    font-size: 1rem;
                    width: 100%;
                }
            }
            .settings{
                color: #666;
                font-size: 1rem;
                .name{ margin-left: 0.5rem; }
            }
        }
        .footer{
            color: @main-color;
            font-size: 1.1rem;
            padding: 1.5rem 0;
            span{
                margin-left: 3rem;
            }
        }
    }
    @keyframes createSongsShowAni {
        0%{ transform: scale(0,0); }
        100%{ transform: scale(1,1); }
    }
    @keyframes createSongsHideAni {
        0%{ transform: scale(1,1); }
        100%{ transform: scale(0,0); }
    }
}