.artistList {
  background-color: #fff;
}
.artistList .artist-li {
  padding: 0.6rem 1rem;
  margin-bottom: 0.5rem;
}
.artistList .artist-li .avatar {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}
.artistList .artist-li .userInfo {
  flex: 1;
}
.artistList .artist-li .userInfo .name {
  color: #333;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.artistList .artist-li .userInfo .icon {
  width: 1rem;
  height: auto;
}
.artistList .artist-li .btn {
  background: transparent;
  color: #E82202;
  font-size: 1rem;
  padding: 0.2rem 0.8rem;
  border: 0.1rem solid #E82202;
  border-radius: 1rem;
}
