.songSheetSquare {
  height: 100%;
  overflow-y: scroll;
}
.songSheetSquare .am-tabs-default-bar-tab-active {
  color: #E82202 !important;
}
.songSheetSquare .am-tabs-default-bar-underline {
  border-color: #E82202 !important;
}
.songSheetSquare .am-tabs-tab-bar-wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  background-color: #fff;
}
.songSheetSquare .am-tabs-default-bar {
  padding-right: 3rem;
}
.songSheetSquare .sortBtn {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  background-color: #fff;
  padding-right: 1rem;
  padding-top: 1rem;
  box-shadow: -0.5rem 0 0.5rem 0.5rem #fff;
}
.songSheetSquare .sortBtn img {
  width: 1.5rem;
  height: auto;
}
.songSheetSquare .space-carousel {
  margin-top: 5rem;
  padding: 16px;
  overflow: hidden;
}
.songSheetSquare .space-carousel .slider-list {
  height: 15rem !important;
}
.songSheetSquare .space-carousel .carousel {
  position: relative;
}
.songSheetSquare .space-carousel .carousel .coverImg {
  width: 100%;
  height: 15rem;
  border-radius: 0.5rem;
}
.songSheetSquare .songSheet-ul {
  padding: 5rem 0.5rem 1rem 1rem;
  flex-wrap: wrap;
}
.songSheetSquare .songSheet-ul .songSheet-li {
  margin-right: 0.5rem;
  margin-bottom: 2rem;
  width: 9.666rem;
}
.songSheetSquare .songSheet-ul .songSheet-li .coverImgBox {
  position: relative;
}
.songSheetSquare .songSheet-ul .songSheet-li .coverImgBox .playCount {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #fff;
  font-size: 0.9rem;
}
.songSheetSquare .songSheet-ul .songSheet-li .coverImgBox .playCount .icon {
  width: 0.9rem;
  height: auto;
  margin-right: 0.3rem;
}
.songSheetSquare .songSheet-ul .songSheet-li .coverImgBox .coverImg {
  width: 9.666rem;
  height: 9.666rem;
  border-radius: 0.3rem;
}
.songSheetSquare .songSheet-ul .songSheet-li .name {
  color: #333;
  font-size: 1rem;
  padding: 0.3rem 0;
  width: 9rem;
  line-height: 1.5rem;
  height: 3rem;
  box-sizing: border-box;
  font-weight: 500;
}
