.phoneLogin {
  padding: 4rem 2rem;
  box-sizing: border-box;
}
.phoneLogin .btn {
  background-color: #FF3A3A;
  border: 0;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  width: 100%;
  border-radius: 2rem;
  padding: 1rem 0;
  margin-top: 3.5rem;
}
.phoneLogin .phoneModule .tip,
.phoneLogin .passwordModule .tip {
  color: #999;
  font-size: 1.2rem;
  margin-bottom: 4rem;
}
.phoneLogin .phoneModule .onInput,
.phoneLogin .passwordModule .onInput {
  border-bottom: 0.1rem solid #f4f4f4;
  padding-bottom: 0.6rem;
  font-size: 1.4rem;
  color: #ccc;
}
.phoneLogin .phoneModule .onInput .input,
.phoneLogin .passwordModule .onInput .input {
  color: #333;
  flex: 1;
  padding: 0 1rem;
  font-size: 1.4rem;
}
.phoneLogin .phoneModule .onInput .close,
.phoneLogin .passwordModule .onInput .close {
  width: 1rem;
  height: auto;
  margin-right: 0.5rem;
}
.phoneLogin .passwordModule {
  margin-top: 1rem;
}
.phoneLogin .passwordModule .forget {
  color: royalblue;
  font-size: 1.2rem;
  border: 0;
  background: none;
}
.phoneLogin .verifyCodeModule {
  padding: 2rem 0;
}
.phoneLogin .verifyCodeModule .title {
  color: #333;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.phoneLogin .verifyCodeModule .info {
  color: #999;
  font-size: 1.2rem;
}
.phoneLogin .verifyCodeModule .info .active {
  color: #628AB7;
  font-size: 1.2rem;
}
.phoneLogin .verifyCodeModule .inputBox {
  position: relative;
  margin-top: 2.5rem;
  padding-left: 2rem;
  text-align: center;
}
.phoneLogin .verifyCodeModule .inputBox .passwordItem {
  width: 3.5rem;
  padding: 1rem 0;
  border-bottom: 0.2rem solid #ccc;
  margin-right: 2rem;
  background: none;
  color: #333;
  text-align: center;
}
.phoneLogin .verifyCodeModule .inputBox .hideInput {
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  width: 0.1rem;
  height: 0.1rem;
  border: 0;
  background: none;
}
