.dynamic {
  padding-top: 3.5rem;
  background-color: #f4f4f4;
}
.dynamic .dynamic-li {
  padding: 1rem;
  margin-bottom: 0.1rem;
  background-color: #fff;
}
.dynamic .dynamic-li .header .avatar-box {
  position: relative;
}
.dynamic .dynamic-li .header .avatar-box .avatar {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
.dynamic .dynamic-li .header .avatar-box .icon {
  width: 1rem;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}
.dynamic .dynamic-li .header .userInfo {
  margin-left: 0.8rem;
  flex: 1;
}
.dynamic .dynamic-li .header .userInfo .name {
  color: #333;
  font-size: 1.2rem;
}
.dynamic .dynamic-li .header .userInfo .tip {
  background-color: #161616;
  padding: 0 0.5rem;
  border-radius: 0.3rem;
  color: #fff;
  font-size: 0.7rem;
  margin: 0 0.5rem;
}
.dynamic .dynamic-li .header .userInfo .tip .icon {
  width: 1rem;
  height: auto;
  margin-right: 0.2rem;
}
.dynamic .dynamic-li .header .userInfo .type {
  color: #666;
  font-size: 1.2rem;
}
.dynamic .dynamic-li .header .userInfo .liveCount {
  color: #666;
  font-size: 1rem;
  margin-top: 0.4rem;
}
.dynamic .dynamic-li .header .follow {
  background-color: #E82202;
  color: #fff;
  font-size: 1rem;
  border-radius: 1rem;
  padding: 0.2rem 0.8rem;
  border: 0;
}
.dynamic .dynamic-li .content {
  color: #000;
  font-size: 1.2rem;
  margin: 1.2rem 0 0.5rem 4.3rem;
}
.dynamic .dynamic-li .video {
  margin-left: 4.3rem;
  margin-bottom: 1rem;
}
.dynamic .dynamic-li .video video {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
}
.dynamic .dynamic-li .footer {
  color: #999;
  font-size: 1.2rem;
  margin-left: 4.3rem;
}
.dynamic .dynamic-li .footer b {
  margin-top: 0.1rem;
}
.dynamic .dynamic-li .footer .forward img {
  width: 1.5rem;
  height: auto;
  margin-right: 0.2rem;
}
.dynamic .dynamic-li .footer .comment {
  margin: 0 2rem;
}
.dynamic .dynamic-li .footer .comment img {
  width: 1.6rem;
  height: auto;
  margin-right: 0.2rem;
}
.dynamic .dynamic-li .footer .live img {
  width: 2rem;
  height: auto;
  margin-right: 0.2rem;
}
