@import '../../style/variable.less';

.waterfall-box{
    padding-left: 1rem;
    background-color: #f5f5f5;
    .waterfall-list{
        margin-right: 1rem;
        flex: 1;
        .wFall-ul{
            width: 100%;
            .wFall-li{
                width: 100%;
                background-color: #fff;
                margin-bottom: 1rem;
                padding-bottom: 0.5rem;
                .coverImg{
                    width: 100%;
                    height: auto;
                    border-radius: 0.2rem;
                }
                .title{
                    color: #333;
                    font-size: 1rem;
                    margin-top: 0.5rem;
                    padding: 0 0.5rem;
                }
            }
        }
    }
}