.songSheetDetail .header {
  background-size: 100%;
  width: 100%;
  height: 20rem;
  position: relative;
}
.songSheetDetail .header .coverImg {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}
.songSheetDetail .header .curDate {
  position: absolute;
  bottom: 4rem;
  left: 1rem;
  color: #fff;
}
.songSheetDetail .header .curDate .day {
  font-size: 3rem;
  margin-right: 0.5rem;
  vertical-align: sub;
}
.songSheetDetail .header .curDate .month {
  display: inline;
  font-size: 1.5rem;
}
.songSheetDetail .mainContent {
  background-color: #fff;
  margin-top: -2rem;
}
.songSheetDetail .mainContent .mcHeader {
  background-color: #fff;
  position: sticky;
  top: 0;
  padding: 1rem 1rem;
  border-bottom: 0.1rem solid #f4f4f4;
  border-radius: 1rem 1rem 0 0;
  color: #333;
  font-size: 1.2rem;
}
.songSheetDetail .mainContent .mcHeader .icon {
  width: 2rem;
  height: auto;
  margin-right: 0.5rem;
}
.songSheetDetail .mainContent .mcHeader .moreSelect {
  color: #333;
  font-size: 1rem;
}
.songSheetDetail .mainContent .mcHeader .moreSelect .icon-more {
  width: 1.5rem;
  height: auto;
  margin-right: 0.3rem;
}
.songSheetDetail .mainContent .detail-ul {
  padding-bottom: 1rem;
}
.songSheetDetail .mainContent .detail-ul .detail-li {
  padding: 1rem;
}
.songSheetDetail .mainContent .detail-ul .detail-li .index {
  color: #999;
  font-size: 1.2rem;
  width: 1.5rem;
  text-align: center;
}
.songSheetDetail .mainContent .detail-ul .detail-li .info {
  flex: 1;
  margin-left: 1rem;
}
.songSheetDetail .mainContent .detail-ul .detail-li .info .coverImg {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: cover;
  border-radius: 0.3rem;
  margin-right: 0.6rem;
}
.songSheetDetail .mainContent .detail-ul .detail-li .info .name {
  width: 18rem;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.songSheetDetail .mainContent .detail-ul .detail-li .info .infoDetail {
  width: 18rem;
}
.songSheetDetail .mainContent .detail-ul .detail-li .info .infoDetail .icon-sole {
  width: 2rem;
  height: auto;
  margin-right: 0.2rem;
}
.songSheetDetail .mainContent .detail-ul .detail-li .info .infoDetail .icon-vip {
  width: 2rem;
  height: auto;
  margin-right: 0.2rem;
}
.songSheetDetail .mainContent .detail-ul .detail-li .info .infoDetail .icon-hq {
  width: 2rem;
  height: auto;
  margin-right: 0.2rem;
}
.songSheetDetail .mainContent .detail-ul .detail-li .info .infoDetail .creator,
.songSheetDetail .mainContent .detail-ul .detail-li .info .infoDetail .nameSmall {
  color: #999;
  font-size: 0.9rem;
  padding-left: 0.2rem;
}
.songSheetDetail .mainContent .detail-ul .detail-li .icon-play {
  width: 2rem;
  height: auto;
  margin-right: 0.8rem;
}
.songSheetDetail .mainContent .detail-ul .detail-li .icon-more {
  width: 2rem;
  height: auto;
}
.songSheetDetail .mainContent .toolHeader {
  background-color: #fff;
  padding: 1rem 0;
  flex: 1;
}
.songSheetDetail .mainContent .toolHeader .songsInfo .avatar {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 0.2rem;
  object-fit: cover;
  margin-right: 1rem;
}
.songSheetDetail .mainContent .toolHeader .songsInfo .name {
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
  margin-right: 1rem;
}
.songSheetDetail .mainContent .toolHeader .songsInfo .artist {
  color: #999;
  font-size: 1rem;
}
.songSheetDetail .mainContent .toolHeader .songsInfo .btn {
  border: 0.1rem solid #E82202;
  background: transparent;
  border-radius: 1rem;
  padding: 0.3rem 0.8rem;
  color: #E82202;
  font-size: 0.8rem;
}
.songSheetDetail .mainContent .toolHeader .tip {
  color: #999;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
