.createSong {
  margin-top: 1rem;
  padding: 0 1rem;
  background-color: #fff;
}
.createSong .create-item .ci-header {
  padding: 1rem 0;
}
.createSong .create-item .arrow_rigth {
  width: 1.2rem;
  height: auto;
  margin-right: 0.5rem;
  transition: transform 0.2s;
}
.createSong .create-item .arrow_active {
  transform: rotate(90deg);
}
.createSong .create-item .listName {
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 0.5rem;
}
.createSong .create-item .songsCount {
  color: #666;
  font-size: 1rem;
}
.createSong .create-item .icon_add {
  width: 1.3rem;
  height: auto;
  margin-left: 2rem;
}
.createSong .create-item .icon_more {
  width: 2.2rem;
  height: auto;
  margin-left: 1rem;
}
.createSong .create-item .songsBox-List .pic {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-right: 1rem;
}
.createSong .create-item .songsBox-List .title {
  color: #333;
  font-size: 1.1rem;
  font-weight: bold;
}
.createSong .create-item .songsBox-List .count {
  color: #666;
  font-size: 1rem;
  margin-top: 0.5rem;
}
.createSong .create-item .songsBox-List .icon_more {
  width: 2rem;
  padding-right: 0.1rem;
}
.createSong .songsToolModalHeader {
  color: #666;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}
.createSongsModal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
}
.createSongsModal .cm-inner {
  background-color: #fff;
  width: 80%;
  height: auto;
  margin: auto;
  border-radius: 0.5rem;
  padding: 0 1.5rem;
  animation: 0.3s ease;
}
.createSongsModal .cm-inner.showAni {
  animation-name: createSongsShowAni;
}
.createSongsModal .cm-inner.hideAni {
  animation-name: createSongsHideAni;
}
.createSongsModal .cm-inner .title {
  color: #333;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1.5rem 0;
}
.createSongsModal .cm-inner .contnet {
  margin-bottom: 1rem;
}
.createSongsModal .cm-inner .contnet .input {
  border-bottom: 0.1rem solid #f4f4f4;
  line-height: 3rem;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}
.createSongsModal .cm-inner .contnet .input input {
  color: #333;
  font-size: 1rem;
  width: 100%;
}
.createSongsModal .cm-inner .contnet .settings {
  color: #666;
  font-size: 1rem;
}
.createSongsModal .cm-inner .contnet .settings .name {
  margin-left: 0.5rem;
}
.createSongsModal .cm-inner .footer {
  color: #E82202;
  font-size: 1.1rem;
  padding: 1.5rem 0;
}
.createSongsModal .cm-inner .footer span {
  margin-left: 3rem;
}
@keyframes createSongsShowAni {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes createSongsHideAni {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 0);
  }
}
