.playPlatform {
  position: relative;
  background-color: #000;
  height: 100%;
  padding: 1rem 1.4rem;
  box-sizing: border-box;
}
.playPlatform .header .arrowLeft {
  width: 2rem;
  height: auto;
}
.playPlatform .header .songInfo {
  flex: 1;
  color: #666;
  font-size: 1rem;
  padding-left: 1rem;
}
.playPlatform .header .songInfo .name {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}
.playPlatform .header .share {
  width: 1.5rem;
  height: auto;
}
.playPlatform .content {
  padding-top: 30%;
}
.playPlatform .content .songCoverBox {
  position: relative;
  box-shadow: 0 0 15rem 15rem #333;
  border-radius: 50%;
  padding: 3rem;
  background-color: #000;
}
.playPlatform .content .songCoverBox .songCoverImg {
  width: 13rem;
  height: 13rem;
  object-fit: cover;
  border-radius: 50%;
  border: 1rem solid #333;
}
.playPlatform .content .active {
  animation: songPlayAni 30s infinite linear;
}
.playPlatform .content .music-controller {
  position: absolute;
  top: -7rem;
  right: 3rem;
  transform: rotate(-4deg);
  transition: all 0.3s;
}
.playPlatform .footer {
  position: absolute;
  bottom: 2rem;
  left: 1.4rem;
  right: 1.4rem;
}
.playPlatform .footer .top {
  padding: 0 5rem;
}
.playPlatform .footer .top .collection {
  width: 2rem;
  height: auto;
}
.playPlatform .footer .top .download {
  width: 2.6rem;
  height: auto;
}
.playPlatform .footer .top .dts {
  width: 2rem;
  height: auto;
}
.playPlatform .footer .top .comment {
  position: relative;
}
.playPlatform .footer .top .comment img {
  width: 1.8rem;
  height: auto;
}
.playPlatform .footer .top .comment b {
  color: #fff;
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  right: -1rem;
  background-color: #000;
  border-radius: 2rem;
  opacity: 0.7;
}
.playPlatform .footer .top .more {
  width: 2.1rem;
  height: auto;
}
.playPlatform .footer .center {
  margin: 1rem 0;
  padding: 0 1rem;
}
.playPlatform .footer .center .time {
  color: #fff;
  font-size: 1rem;
}
.playPlatform .footer .center .progress {
  width: 100%;
  margin: 0 1rem;
}
.playPlatform .footer .bottom {
  padding: 0 5rem;
}
.playPlatform .footer .bottom .randomPlay {
  width: 2rem;
  height: auto;
}
.playPlatform .footer .bottom .per {
  width: 1.8rem;
  height: auto;
  transform: rotate(180deg);
}
.playPlatform .footer .bottom .play {
  width: 4rem;
  height: auto;
}
.playPlatform .footer .bottom .next {
  width: 1.8rem;
  height: auto;
}
.playPlatform .footer .bottom .playList {
  width: 1.8rem;
  height: auto;
}
.playPlatform .footer .myAudio {
  display: none;
}
@keyframes songPlayAni {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
