.myHeader {
  background-color: #fff;
  padding: 0 1rem;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.myHeader .menu_icon {
  width: 2rem;
  height: auto;
}
.myHeader .search_icon {
  width: 2rem;
  height: auto;
}
.myHeader .center {
  flex: 1;
  margin: 0 5rem;
  color: #666;
  font-size: 1.3rem;
}
.myHeader .center .selected {
  font-weight: bold;
  font-size: 1.4rem;
}
