.searchSongSheet .album-ul {
  padding-bottom: 1rem;
}
.searchSongSheet .album-ul .album-li {
  padding: 0.4rem 1rem;
}
.searchSongSheet .album-ul .album-li .avatar {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 0.3rem;
}
.searchSongSheet .album-ul .album-li .info {
  flex: 1;
  margin-left: 0.6rem;
}
.searchSongSheet .album-ul .album-li .info .name {
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
  width: 20rem;
}
.searchSongSheet .album-ul .album-li .info .tool {
  color: #999;
  font-size: 0.9rem;
}
.searchSongSheet .album-ul .album-li .info .tool .creator {
  margin: 0 0.3rem;
}
