.mySearch .header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
}
.mySearch .header .input {
  border-bottom: 0.1rem solid #f5f5f5;
  padding-bottom: 0.5rem;
  flex: 1;
}
.mySearch .header .input input {
  color: #333;
  font-size: 1.2rem;
  padding: 0 0.2rem;
}
.mySearch .header .user_search_icon {
  width: 2rem;
  height: 2rem;
  background-size: 100%;
  margin-left: 1rem;
}
.mySearch .mySearchContent {
  padding-top: 5rem;
}
.mySearch .searchHistory {
  margin-bottom: 1rem;
}
.mySearch .searchHistory .history-header {
  padding: 0 1rem;
}
.mySearch .searchHistory .history-header h3 {
  color: #333;
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
}
.mySearch .searchHistory .history-header .icon-clear {
  width: 1.3rem;
  height: auto;
}
.mySearch .searchHistory .history {
  padding: 1rem 1rem 1rem 1.2rem;
}
.mySearch .searchHistory .history .history-ul {
  white-space: nowrap;
  overflow-x: scroll;
}
.mySearch .searchHistory .history .history-ul::-webkit-scrollbar {
  width: 0;
}
.mySearch .searchHistory .history .history-ul .history-li {
  display: inline-block;
  color: #333;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: #f5f5f5;
  border-radius: 1rem;
  margin-right: 0.8rem;
}
.mySearch .songsHotSearchBox h3 {
  padding-left: 1rem;
  color: #333;
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
}
