@import '../../style/variable.less';

.searchResult{
    height: 100%;
    overflow-y: hidden;
    .search{
        position: fixed;
        left: 1rem;
        right: 1rem;
        top: 0;
        border-bottom: 0.1rem solid #ccc;
        padding: 0 0.6rem;
        height: 3rem;
        background-color: #fff;
        z-index: 999;
        input{
            color: #333;
            font-size: 1.2rem;
            flex: 1;
        }
        .clear{
            width: 1.2rem;
        }
    }
    .navTab{
        height: 100%;
        .am-tabs-tab-bar-wrap{
            margin-top: 4rem !important;
        }
        .am-tabs-default-bar-tab-active{
            color: @main-color !important;
        }
        .am-tabs-default-bar-underline{
            border-color: @main-color !important;
        }
    }
    .content{
        padding-top: 1rem;
        box-sizing: border-box;
    }
    .noContent{
        text-align: center;
        color: #999;
        font-size: 1rem;
        padding: 4rem 2rem;
    }
}