.searchResult {
  height: 100%;
  overflow-y: hidden;
}
.searchResult .search {
  position: fixed;
  left: 1rem;
  right: 1rem;
  top: 0;
  border-bottom: 0.1rem solid #ccc;
  padding: 0 0.6rem;
  height: 3rem;
  background-color: #fff;
  z-index: 999;
}
.searchResult .search input {
  color: #333;
  font-size: 1.2rem;
  flex: 1;
}
.searchResult .search .clear {
  width: 1.2rem;
}
.searchResult .navTab {
  height: 100%;
}
.searchResult .navTab .am-tabs-tab-bar-wrap {
  margin-top: 4rem !important;
}
.searchResult .navTab .am-tabs-default-bar-tab-active {
  color: #E82202 !important;
}
.searchResult .navTab .am-tabs-default-bar-underline {
  border-color: #E82202 !important;
}
.searchResult .content {
  padding-top: 1rem;
  box-sizing: border-box;
}
.searchResult .noContent {
  text-align: center;
  color: #999;
  font-size: 1rem;
  padding: 4rem 2rem;
}
