.commentItem .comment-ul .comment-li .userInfo {
  padding: 1rem 1.5rem 1rem 0;
}
.commentItem .comment-ul .comment-li .userInfo .avatar {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  object-fit: cover;
}
.commentItem .comment-ul .comment-li .userInfo .nickname {
  display: block;
  color: #666;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.commentItem .comment-ul .comment-li .userInfo .time {
  display: block;
  color: #999;
  font-size: 0.9rem;
}
.commentItem .comment-ul .comment-li .userInfo .liveCount .count {
  color: #666;
  font-size: 0.9rem;
  margin-top: 0.2rem;
}
.commentItem .comment-ul .comment-li .userInfo .liveCount .live-icon {
  width: 1.8rem;
  height: auto;
  margin-left: 0.2rem;
}
.commentItem .comment-ul .comment-li .content {
  margin-left: 3rem;
  padding: 0 1.5rem 1rem 0;
  color: #333;
  font-size: 1.2rem;
  line-height: 1.8rem;
  border-bottom: 0.1rem solid #f4f4f4;
}
