@import '../../style/variable.less';

.myVideo{
    padding-top: 5rem;
    .am-tabs-tab-bar-wrap{
        position: fixed;
        top: 4rem;
        z-index: 99;
        width: 100%;
    }
    .am-tabs-top, .am-tabs-bottom{
        padding: 3rem 0;
    }
}