.myVideo {
  padding-top: 5rem;
}
.myVideo .am-tabs-tab-bar-wrap {
  position: fixed;
  top: 4rem;
  z-index: 99;
  width: 100%;
}
.myVideo .am-tabs-top,
.myVideo .am-tabs-bottom {
  padding: 3rem 0;
}
