.myVideo {
  padding-top: 5rem;
  height: 100%;
  box-sizing: border-box;
}
.myVideo .am-tabs-tab-bar-wrap {
  position: fixed;
  top: 4rem;
  z-index: 99;
  width: 100%;
}
.myVideo .am-tabs-tab-bar-wrap .am-tabs-default-bar-tab-active {
  color: #E82202;
}
.myVideo .am-tabs-tab-bar-wrap .am-tabs-default-bar-underline {
  border-color: #E82202;
}
.myVideo .am-tabs-horizontal .am-tabs-pane-wrap-inactive {
  height: 100%;
}
